<h1> Contacts </h1>

<% contacts = Contact.all  %>

<p> There are <%= Contact.all.count%> companies: </p>


<ul>
<% for contact in contacts%>
<li><%= contact.inspect %></li>
<li><% company = Company.find_by({"id" => contact["company_id"]}) %></li>
<li><%= contact["first_name"] %><%= contact["last_name"] %> @<%= company["name"]%></li>
<% end%>
</ul>